<%-include("header")-%>

<header> 
<h1>Home</h1>
<hr>
</header>

<div class=" card-container row">

    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color: red; border: 1px solid">
        col1
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color: red; border: 1px solid">
        col2
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12" style="background-color: red; border: 1px solid">
        col3
    </div>

    <%#<div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card mb-3 round col">
        <img src="https://images.unsplash.com/photo-1448375240586-882707db888b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="">
        <div class="card-body">
            <p class="card-text">
            Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div> %>
</div>


<%-include("footer")-%>